:root {
    --blue: hsl(226, 76%, 59%);
    --gray: hsla(296, 9%, 32%, 0.199);
    }
    
    body {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: var(--gray);
    }
    .start-page{
    height: 55%; 
    width: 50%;
    padding: 10px;
    background-color: var(--gray);

    }
    .start-menu{
    text-align: center; 
    }
    .quiz-card {
    display: none;
    height: 40%; 
    width: 30%;
    padding: 5px;
    background-color: var(--gray);
   
    }
    
    .answers {
    display: flex;
    flex-direction: column;
    }
    
    .btn {
    padding: 12px;
    margin: 8px;
    border: 1px solid var(--blue);
    background-color: var(--gray);
    box-shadow: 0 0 1px 1px var(--blue);
    border-radius: 5px;
    }
    
    .btn:hover {
    background-color: var(--blue);
    box-shadow: 0 0 2px 1px rgba(59, 14, 14, 0.349);
    border-radius: 5px;
    }
    
    .start{
    height: 25px;
    width: 80px;
    color: white;
    border: 1px solid var(--blue);
    background-color: var(--blue);
    box-shadow: 0 0 1px .5px var(--blue);
    border-radius: 5px;
    margin-left: 45%;
    }
    
    .start:hover{
    box-shadow: 0 0 2px 1px black;
    border-radius: 5px;
    }
    
  
    
    .next:hover{
    box-shadow: 0 0 2px 1px black;
    border-radius: 5px;
    }
    
    h2 {
    text-align: center;    
    }
    .timer-message{
    color: var(--orange);
    text-align: end;
    padding: 10px;
    font-weight: bold;
    }
    .score-page{
    display: none;
    height: 55%; 
    width: 50%;
    padding: 10px;
    background-color: var(--gray);
 
    }
    .score-menu{
    text-align: center; 
    }